

body{
	background:#9999ff;
	
}


#wrapper{
	width:800px;
	margin:0px auto;
	border:2px solid #000099;
}

header{
	background:#EDD400;
	/*CSS3 Gradient*/
	background:-moz-linear-gradient(left,#ff7700,#EDD400);
	background: -webkit-linear-gradient(left,#ff7700,#EDD400);
	background: -ms-linear-gradient(left,#ff7700,#EDD400);
	background: -o-linear-gradient(left,#ff7700,#EDD400);

	overflow-y:hidden;
	border-bottom:10px solid #000099;
}

header img#logo{
	width:150px;
	height:150px;
	float:left;
}

header h1{
	margin-top:100px;
	font-size:50px;
	font-weight:bolder;
	float:left;
	color:#000055;

}
