

body{
    background:#000000 url('../img/background-image-res.jpg') no-repeat;
    background-image: url('../img/background-image-res.jpg'), url('../img/background-image-res-side.jpg'), url('../img/background-image-res-bottom.jpg');
    background-repeat: no-repeat, repeat-x, repeat;
    background-attachment: fixed;
}

section#user-status-section{
    border-top:3px solid #000000;
    border-bottom:3px solid #111111;
    background:#000000;
}

section#user-status-section label{
    color:#ffffff;
}

section#user-status-section form{
    display:inline;
}

#wrapper{
    width:800px;
    margin:0px auto;

}

header{
    background:#EDD400;
    /*CSS3 Gradient*/
    background:-moz-linear-gradient(left,#ff7700,#EDD400);
    background: -webkit-linear-gradient(left,#ff7700,#EDD400);
    background: -ms-linear-gradient(left,#ff7700,#EDD400);
    background: -o-linear-gradient(left,#ff7700,#EDD400);

    border:2px solid #000099;
    overflow-y:hidden;
    border-bottom:10px solid #000099;
}

header img#logo{
    width:150px;
    height:150px;
    float:left;
}

header h1{
    margin-top:100px;
    font-size:50px;
    font-weight:bolder;
    float:left;
    color:#000055;

}

/*Menu*/
section#product-menu{
    display:inline-block;
    width:196px;
    height:100%;
}

/*Pizza lijst*/

section#pizza-aanbod{
    display:inline-block;
    width:796px;
    border:2px solid #000099;
}

section#pizza-aanbod ul{
    display:inline-block;
    width:540px;
    float:right;
}

section#pizza-aanbod ul li img.product{
    position: absolute;
    top:35px;
    left:10px;
    height:75px;
    width:75px;
}

section#pizza-aanbod ul li img.vegetarisch{
    position: absolute;
    top:35px;
    left:460px;
    height:75px;
    width:30px;
}

section#pizza-aanbod ul li h3{
    position: absolute;
    top:15px;
    left:10px;
    font-size: 12pt;
    font-weight: bolder;
    height:15px;
}

section#pizza-aanbod ul li{
    height:120px;
    width:500px;
    background-color:rgba(255,255,255,0.4);
    border:0px solid #000000;
    margin: 2px 10px;
    border-radius: 10px;
    position: relative;
}

section#pizza-aanbod li div.product-info{
    position: absolute;
    top:35px;
    left:100px;
    width:350px;
    height: 75px;
}

section#pizza-aanbod ul li span.description{
    position: absolute;
    top:0px;
    left:0px;
    height:55px;
    width:155px;
}

section#pizza-aanbod ul li span.product-ingredienten{
    position: absolute;
    top:60px;
    left:0px;
    height:14px;
    width:350px;
    font-size: 10px;
    border-top:1px solid #000000;
}

section#pizza-aanbod ul li span.prijs{
    position: absolute;
    top:35px;
    left:165px;
    height: 55px;
    width:50px;
    vertical-align: middle;
    font-weight: bold;
}

section#pizza-aanbod ul li span form input[type="number"]{
    position: absolute;
    top:0px;
    left:225px;
    padding:0px;
    height:55px;
    width:50px;
    font-size: 12pt;
    text-align: center;
    border:3px #000000 double;
}

section#pizza-aanbod ul li span form input[type="submit"]{
    position: absolute;
    top:0px;
    left:290px;
    white-space: normal;
    height:60px;
    width:55px;
}




/*WinkelMandje*/

section#winkelmand{
    border-bottom:10px solid #000099;
}
section#winkelmand div#winkemand-container{
    margin: 0 10px;
    background: #FFFFFF;
}

section#winkelmand table {
width:600px;
margin:0px auto;
}

section#winkelmand table tbody tr{
height: 25px;
border-radius: 20px;
padding:0;
}

section#winkelmand table tbody td{
height: 25px;
padding:0;
}

section#winkelmand table tbody tr:nth-child(even){
background-color:#ff9900;
}

section#winkelmand table tbody tr:nth-child(odd){
background-color:#ffBB00;
}
    
section#winkelmand img.winkelmand-image{
    height:50px;
    width:50px;
    border-radius: 25px;
    margin:0;
}